
# Python
venv/
__pycache__/
*.pyc
.DS_Store

# Datasets and Large Folders
AWSonly_graph_Dataset/
Processed_Graphs*/
aws_dataset/


# Models
*.pth

# ImagesTerraDS*/
*.png

# Mac OS
.DS_Store

aws_configs/
aws_dataset.zip
venv/
__pycache_
nohup.out
checkov_warnings.log


inference/.env
